@page "/personalprofile"
@using educationPortal
@using educationPortal.Models


<link href="~/css/personalProfile.css" rel="stylesheet" />

@if (courses is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="personal-info">
            <div class="profile-picture">
                <img src="~/images/brentcross.jpg" alt="Student Picture">
            </div>
            @foreach (var student in students)
            {
                <h2>@student.Name</h2>
                <p>ID: @student.StudentId</p>
                <p>Email: @student.Email</p>
                <p>Phone: @student.Phone</p>
                <p>Major: @student.Major</p>
            }
        </div>
        <div class="class-schedule p-5">
            <h3>Class Schedule</h3>
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Course Code</th>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    @if (courses != null)
                    {
                        @foreach (var course in courses)
                        {
                            <tr>
                                <td>@course.Code</td>
                                <td>@course.Title</td>
                                <td>@course.Time</td>
                                <td>@course.Location</td>
                                <td>@course.Instructor</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {

    private Student[] students = new[]
    {
        new Student(){
            StudentId = 1,
            Name = "Shelem",
            Email = "shelem@hotmail.com",
            Phone = "123",
            Major = "Software Engeneering"
        }
    };

    private Course[]? courses;

    protected override void OnInitialized()
    {
        courses = CourseClient.GetCourses();
    }

}
