@page "/personalprofile"

<link href="wwwroot\css/personalProfile.css" rel="stylesheet" />

<div class="student-profile">
    <div class="profile-header">
        <div class="profile-picture">
            <img src="images\brentcross.jpg" alt="Student Picture">
        </div>
        <h2>Student Name: @studentName</h2>
        <p>ID: @studentId </p>
        <p>Email: @email</p>
        <p>Phone: @phone</p>
        <p>Major: @major </p>

    </div>
    <div class="class-schedule">
        <h3>Class Schedule</h3>
        <table>
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Title</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Instructor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in courses)
                {
                    <tr>
                        <td>@course.Code</td>
                        <td>@course.Title</td>
                        <td>@course.Time</td>
                        <td>@course.Location</td>
                        <td>@course.Instructor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    string studentName = "Brent M. Cross";
    string studentId = "60719523";
    string email = "cro15033@byui.edu";
    string phone = "360-421-8801";
    string major = "Computer Information Technology";

    List<Course> courses = new List<Course>
    {
        new Course { Code = "CSE365", Title = "Introduction to ...", Time = "MWF 10:00AM - 11:00AM", Location = "Room 101", Instructor = "Professor..." },
        new Course { Code = "CSE365", Title = "Introduction to ...", Time = "MWF 10:00AM - 11:00AM", Location = "Room 101", Instructor = "Professor..." },
        new Course { Code = "CSE365", Title = "Introduction to ...", Time = "MWF 10:00AM - 11:00AM", Location = "Room 101", Instructor = "Professor..." },
        new Course { Code = "CSE365", Title = "Introduction to ...", Time = "MWF 10:00AM - 11:00AM", Location = "Room 101", Instructor = "Professor..." },
        new Course { Code = "CSE365", Title = "Introduction to ...", Time = "MWF 10:00AM - 11:00AM", Location = "Room 101", Instructor = "Professor..." },

    };
    

 public class Course
{
    public string Code { get; set; } = string.Empty;
    public string Title { get; set; } = string.Empty;
    public string Time { get; set; } = string.Empty;
    public string Location { get; set; } = string.Empty;
    public string Instructor { get; set; } = string.Empty;
}

}
